/nbproject/private/
/build/
/dist/
/.env
/.dockertmp
/dockertmp
/plugins/
/project/.vscode/
/project/nbproject/private/
/project/build/
/project/dist/
/project/tmp/
/project/.env
/project/plugins/
/jvm
/project/www/config/.env
/project/www/config/config_sgbd.php
/project/www/config/filedotenv.php
/project/www/config/config.ini
/project/www/data/
/project/www/ROOT/
/project/.webapps/config/.env
/project/.webapps/config/config_sgbd.php
/project/.webapps/config/filedotenv.php
/project/.webapps/config/config.ini
/project/.webapps/config/config.properties
/project/.webapps/data/
/project/.webapps/ROOT/
/project/.webapps/ROOT.war
/tmp
/test
